<!-- {{ list$ | async | json }} -->
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Címek</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
      >Share</button>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
      >Export</button>
    </div>
    <button
      type="button"
      class="btn btn-sm btn-outline-secondary dropdown-toggle"
    >
      <span
        data-feather="calendar"
        class="align-text-bottom"
      ></span> This week </button>
  </div>
</div>
<div>
  <button [routerLink]="['/cim-szerkesztes', 'new']" class="col-12 mb-5 btn btn-success">Új számla létrehozása</button>
</div>
<ngx-data-table
  *ngIf="list$ | async as list"
  [columns]="columns"
  [list]="list"
  (selectOne)="onSelectOne($event)"
  (deleteOne)="onDeleteOne($event)">
></ngx-data-table>

